{% extends 'base.html' %} 
​
{% block titulo %}
lista clientes 
{% endblock titulo %}
|
{% block contenido %}
<h2>Lista de clientes: </h2> 
<a href="{% url 'empleados:nuevo' %}">Crear nuevo empleado</a>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Legajo</th>
      <th>Editar | Eliminar</th>
      {% comment %} No muestra la columna activo porque es el borrado logico. {% endcomment %}
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    <tr>
      <th> {{ empleado.id }} </th>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellido }}</td>
      <td>{{ empleado.legajo }}</td>
      <td> 
        {% comment %}  Comentado porque no esta implementado..
        <a href="{% url 'empleados:modificar' pk=empleado.id %}">Editar</a>
        <a href="{% url 'empleados:desactivar' pk=empleado.id %}">Eliminar</a> 
        {% endcomment %}
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
​
{% endblock contenido %}