{% extends 'base.html' %} 
​
{% block titulo %}
lista empleados 
{% endblock titulo %}
|
{% block contenido %}
<h2 class="text-center my-2" style="color:white">Lista de empleados: </h2> 
<a class="btn btn-success" href="{% url 'empleados:nuevo' %}">Crear nuevo empleado</a>
<table class="table table-striped table-hover table-secondary my-3  ">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Legajo</th>
      <th>Editar | Eliminar</th>
      {% comment %} No muestra la columna activo porque es el borrado logico. {% endcomment %}
    </tr>
  </thead>
  <tbody>
    {% for empleado in empleados %}
    <tr>
      <th> {{ empleado.id }} </th>
      <td>{{ empleado.nombre }}</td>
      <td>{{ empleado.apellido }}</td>
      <td>{{ empleado.legajo }}</td>
      <td>
        <a class="btn btn-warning" href="{% url 'empleados:modificar' pk=empleado.id %}">Editar</a>
        {% if empleado.activo  %}
          <a class="btn btn-danger" href="{% url 'empleados:desactivar' pk=empleado.id %}">Desactivar</a> 
        {% else %}
          <a class="btn btn-primary" href="{% url 'empleados:activar' pk=empleado.id %}">Activar</a> 
        {% endif %}
        </td> 
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido %}
