{% extends 'base.html' %} 
​
{% block titulo %}
Reserva de servicios
{% endblock titulo %}
|
{% block contenido %}

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Fecha reserva</th>
      <th>Fecha servicio</th>
      <th>Cliente</th>
      <th>Servicio</th>
      <th>Empleado</th>
      <th>Coordinador</th>
    </tr>
  </thead>
  <tbody>
    {% for reserva_servicios in reserva_servicios %}
    <tr>
      <th> {{ reserva_servicios.id }} </th>
      <td>{{ reserva_servicios.fecha_reserva }}</td>
      <td>{{ reserva_servicios.fecha_servicio }}</td>
      <td>{{ reserva_servicios.cliente }}</td>
      <td>{{ reserva_servicios.servicio }}</td>
      <td>{{ reserva_servicios.empleado }}</td>
      <td>{{ reserva_servicios.coordinador }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
​
{% endblock contenido %}