{% extends "base.html" %}

{% block titulo %}
    {{titulo}}
{% endblock titulo %}

{% block contenido %}
<div class="container pt-3  " style="width: 50rem">
    <div class="card " style=" d-flex justify-content-center width: 38rem; border-radius: 1.5rem;">
        <div class="card-body" >
          <h5 class="card-title" style= "text-align: center">{{ titulo }}</h5>
          <p class="card-text">
            <form action="" method="POST" enctype="multipart/form-data"  class="form-group mb-3">
                {% csrf_token %}
                <div class="">
                    <div class="form-group mb-3">
                        <label for = '{{ form.fecha_reserva.id_for_label }}'>Fecha de Reserva </label>
                        <input type="date" class="form-control" id="fecha_reserva"  name="{{ form.fecha_reserva.html_name}}"  required>
                        <small class="form-text text-muted">{{ form.fecha_reserva.help_text}}</small>
                    </div>

                    <div class="form-group mb-3">
                        <label for = '{{ form.fecha_servicio.id_for_label }}'>Fecha de Servicio </label>
                        <input type="date" class="form-control" id="fecha_servicio"  name="{{ form.fecha_servicio.html_name}}"  required>
                        <small class="form-text text-muted">{{ form.fecha_servicio.help_text}}</small>
                    </div>
                </div>

                {% comment %} Select Clientes {% endcomment %}
                <div class="form-group mb-3 ">
                    
                    <label for = '{{ form.cliente.id_for_label }}'>{{form.cliente.html_name|capfirst}}</label>
                    <select name="{{ form.cliente.html_name}}" id='cliente' class ="form-select"> 
                        <option disabled selected>Seleccionar un cliente</option>	
                        {% for cliente in clientes %}
                            <option value="{{ cliente.id }}" >{{ cliente.nombre }} {{ cliente.apellido }}</option>
                        {% endfor %}
                    </select> 
                    {{ form.cliente.errors }}
                </div>

                {% comment %} Select Servicio {% endcomment %}
                <div class="form-group mb-3 ">
                    
                    <label for = '{{ form.servicio.id_for_label }}'>{{form.servicio.html_name|capfirst}}</label>
                    <select  name="{{ form.servicio.html_name}}" id='servicio' class ="form-select"> 
                        <option disabled selected>Seleccionar un Servicio</option>	
                        {% for servicio in servicios %}
                            <option value="{{ servicio.id }}" >{{ servicio.nombre }}</option>
                        {% endfor %}
                    </select> 
                    {{ form.servicio.errors }}
                </div>

                {% comment %} Select Coordinador {% endcomment %}
                <div class="form-group mb-3 ">
                    
                    <label for = '{{ form.coordinador.id_for_label }}'>{{form.coordinador.html_name|capfirst}}</label>
                    <select name="{{ form.coordinador.html_name}}" id='coordinador' class ="form-select"> 
                        <option disabled selected>Seleccionar un Coordinador</option>	
                        {% for coordinador in coordinadores %}
                            <option value="{{coordinador.id}}" >{{ coordinador.nombre }} {{ coordinador.apellido }}</option>
                        {% endfor %}
                    </select> 
                    {{ form.coordinador.errors }}
                </div>

                {% comment %} Select Empleado {% endcomment %}
                <div class="form-group mb-3 ">
                    
                    <label for = '{{ form.empleado.id_for_label }}'>{{form.empleado.html_name|capfirst}}</label>
                    <select name="{{ form.empleado.html_name}}" id='empleado'  class ="form-select"> 
                        <option disabled selected>Seleccionar un cliente</option>	
                        {% for empleado in empleados %}
                            <option value="{{ empleado.id }}" >{{ empleado.nombre }} {{ empleado.apellido }}</option>
                        {% endfor %}
                    </select> 
                    {{ form.empleado.errors }}
                </div>

                <br>
                <div class="d-grid gap-2">
                    <a class = "btn btn-warning " href="{% url 'reserva_servicios:listar' %}">Volver</a>
                    <button class = "btn btn-primary " type="submit">{{mensaje_boton}}</button>
                </div>

            </form>
          </p>
        </div>
    </div>
</div>
{% endblock contenido %}