{% extends 'base.html' %} 
​
{% block titulo %}
lista coordinadores 
{% endblock titulo %}
|
{% block contenido %}
<h2>Lista de Coordinadores: </h2> 
<a class="btn btn-success" href="{% url 'coordinadores:nuevo' %}">Crear nuevo coordinador</a>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Documento</th>
      <th>Fecha de Alta</th>
      <th>Activo</th>
      <th>Editar | Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for coordinador in coordinadores %}
    <tr>
      <th>{{ coordinador.id }} </th>
      <td>{{ coordinador.apellido }}</td>
      <td>{{ coordinador.nombre }}</td>
      <td>{{ coordinador.documento }}</td>
      <td>{{ coordinador.fecha_alta }}</td>
      <td>{{ coordinador.activo }}</td>
      <td>
      <a class="btn btn-warning" href="{% url 'coordinadores:modificar' pk=coordinador.id %}">Editar</a>
      {% if coordinador.activo  %}
        <a class="btn btn-danger" href="{% url 'coordinadores:desactivar' pk=coordinador.id %}">Desactivar</a> 
      {% else %}
        <a class="btn btn-primary" href="{% url 'coordinadores:activar' pk=coordinador.id %}">Activar</a> 
      {% endif %}
      </td> 
    </tr>
    {% endfor %}
  </tbody>
</table>
​
{% endblock contenido %}