{% extends 'base.html' %} 
​
{% block titulo %}
lista clientes 
{% endblock titulo %}
|
{% block contenido %}

{% for msg in messages%}

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor%}

<h2 class="text-center my-2" style="color:white">Lista de clientes: </h2> 
​<a class="btn btn-success"  href= "{% url 'clientes:crear'%}">Agregar un nuevo cliente</a>
<table class="table table-striped table-hover table-secondary my-3">
  <thead>
    <tr>
      <th>#</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr>
      <th scope="row">
        <a href= "{{ cliente.get_absolute_url }}">
        {{cliente.pk}}
        </a>
      </th>
      <td>{{ cliente.apellido }}</td>
      <td>{{ cliente.nombre }}</td>
      <td>
        <a class="btn btn-warning" href="{% url 'clientes:modificar' pk=cliente.id %}">Editar</a>
        {% if cliente.activo  %}
          <a class="btn btn-danger" href= "{% url 'clientes:desactivar' pk=cliente.pk%}"> Desactivar </a>
        {% else %}
         <a class="btn btn-primary" href= "{% url 'clientes:activar' pk=cliente.pk%}">  Activar</a>
       {% endif %}
    </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock contenido %}