{% extends 'base.html' %} 
​
{% block titulo %}
lista clientes 
{% endblock titulo %}
|
{% block contenido %}
<h2>Lista de clientes: </h2> 
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Activo</th>
      <th>Modificar</th>
      <th>Desactivar</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr>
      <th scope="row">
        <a href= "{{ cliente.get_absolute_url }}">
        {{cliente.pk}}
        </a>
      </th>
      <td>{{ cliente.apellido }}</td>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.activo }}</td>
      <td> <a href= "{{ cliente.get_absolute_url_mod }}">
        🖊️</td>
      <td> 
        ❌</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
​<a href= "{% url 'clientes:crear'%}">Agregar un nuevo cliente 🧑</a>
{% endblock contenido %}